/* General layout
=================================================================*/

#DevConsolePanel {
	margin-top: 12%;
	margin-left: 0.5%;
	background-color: #000000aa;
	flow-children: down;
}

#DevConsoleTitle {
	horizontal-align: center;
	margin: 1% 1% 1% 1%;
	color: #ffffff;
	font-size: 34px;
}

.inactive {
	box-shadow: fill #00000066 0px 0px 4px 4px;
	background-color: grey;
}

/* Hero selection panel
=================================================================*/
#HeroSelectionContainer,
#LoadingPanel,
#GameSetupContainer {
	width: 100%;
	height: 100%;
	align: center center;
	background-color: #000000FF;
	border-radius: 5px;
	visibility: visible;
	flow-children: down;
}

#GameSetupContainer {
	width: 500px;
	height: 225px;
	padding: 15% 5% 15% 5%;
}

#TimeSelectionTitle,
#HeroSelectionTitle,
#HeroSelectionTitleLoading
{
	horizontal-align: center;
	margin-top: 5%;
	font-size: 44px;
	color: #FFFFFF;
}

#HeroSelectionGameTime
{
	horizontal-align: center;
	margin-bottom: 1%;
	font-size: 19px;
	color: orange;
}

#HeroSelectionPanel,
#ClockSelectionPanel
{
	align: center center;
	flow-children: down;
}

.HeroSelectionRow {
	horizontal-align: center;
	flow-children: right;
}

.HeroSelectionColumn {
	flow-children: down;

}

.HeroSelectionLabel {
	width: 100%;
	align: center center;
	text-align: center;
	height: 24px;
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 18px;
	color: #FFFFFF;
	opacity: 1;
}

.HeroSelectionPip {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-right: 10px;
	width: 156px;
	height: 86px;
	box-shadow: fill #000000 0px 0px 2px 2px;
	align: center center;
	border: 1px solid #656565;
	saturation: 0.6;
}

.HeroSelectionPip:hover {
	box-shadow: fill #60FF60 0px 0px 2px 2px;
	saturation: 1.0;
}

.HeroSelectionPip:active {
	pre-transform-scale2d: 1.05;
}

.HeroSelectionPip.selected {
	box-shadow: fill #60FF60 0px 0px 2px 2px;
	saturation: 1.0;
}

.HeroSelectionPip.unavailable {
	saturation: 0.0;
	opacity: 0.2;
	box-shadow: #000000 0px 0px 2px 2px;
	pre-transform-scale2d: 1.0;
}

/* 'Confirm hero selection' button
=================================================================*/
#ConfirmHeroSelectionButton {
	horizontal-align: center;
	width: 300px;
	height: 50px;

	box-shadow: fill #00000090 0px 0px 2px 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #066319 ), to( #103F19 ) );
	background-size: 280px 120px;
}

#ConfirmHeroSelectionButton.disabled, #ConfirmHeroSelectionButton.disabled:hover, #ConfirmHeroSelectionButton.disabled:active {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#ConfirmHeroSelectionButton:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}

#ConfirmHeroSelectionButton:active {
	pre-transform-scale2d: 1.05;
}

#ConfirmHeroSelectionButton Label {
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
	font-size: 36px;
}

#HeroSelectionRow2 {
	margin-bottom: 20px;
}
