.Timers
{
	flow-children: right;
	width: 100%;
	opacity: 0.5; /* TODO UNDO */
}

#TimerPanels
{
	margin-left: 1%;
	flow-children: right;
	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: #000000da;
	border: 2px solid #FF7800FF;
	border-radius: 8px;
}

.GameTimeWrapp
{
	margin-left: 47.4%;
	flow-children: down;
	width: 100px;
	height: 106px; /* TODO UNDO */
	z-index: 2;
}

.AspectRatio16x10 .GameTimeWrapp
{
	margin-left: 47.1%;
}

.AspectRatio4x3 .GameTimeWrapp
{
	margin-left: 46.5%;
}

.GameTimer
{
	margin-top: 10%;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	text-overflow: clip;
}

.AspectRatio16x10 .GameTimer
{
	margin-top: 10%;
	font-size: 13px;
}

.AspectRatio4x3 .GameTimer
{
	margin-top: 10%;
	font-size: 13px;
}

.Loading
{
	font-size: 50px;
	color: #ffffff;
	horizontal-align: center;
}

#LoadingDisclaimerTop
{
	color: red;
	vertical-align: top;
	padding-top: 100px;
}
#LoadingDisclaimerBot
{
	color: red;
	vertical-align: bottom;
	padding-bottom: 100px;
}

#LoadingText
{
	vertical-align: center;
}

#game_setup
{
	vertical-align: center; 
	horizontal-align: center; 
	width: 50%; 
	height: 50%; 
	background-color: #000000FF;
	visibility: collapse;
	opacity: 0;	
}