.addon-root {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-image: url("file://panorama/imgs/loading_screen_bg.png");
}

.SpectatorLabel {
	color: #FFFFFF;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	align: center center;
	background-color: #000000da;
	padding: 10px;

	visibility: collapse;
}
