/* General layout
=================================================================*/

#DevConsolePanel {
	margin-top: 12%;
	margin-left: 0.5%;
	background-color: #000000aa;
	flow-children: down;
}

#DevConsoleTitle {
	horizontal-align: center;
	margin: 1% 1% 1% 1%;
	color: #ffffff;
	font-size: 34px;
}

.inactive {
	box-shadow: fill #00000066 0px 0px 4px 4px;
	background-color: grey;
}

/*  Top level stuff
============================*/
#VersionContainer {
	width:100%; 
	height:94%; 
	background-image: url("file://{resources}/imgs/background.png");
	background-repeat: repeat;
	background-size: 213px 213px; 
	flow-children: none;
}

#SelectorsContainer {
	width:100%; 
	height:100%; 
	flow-children: down;
}

#LogoWrapper {
	width:100%; 
	height:100%; 
	background-color: #2D3038;	
	flow-children:right;
}

.StrongShadow {
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 
				0px 3px 14px rgba(0, 0, 0, 0.12), 
				0px 4px 5px rgba(0, 0, 0, 0.2);
}

#RightFromTime {
	width:43%; 
	height: 100%; 
	horizontal-align:right; 
	background-color: #2D3038;
}
/* Hero selection panel
=================================================================*/
#HeroSelectionContainer{
	width: 100%;
	height: 100%;
	align: center center;
	border-radius: 5px;
	visibility: visible;
	flow-children: down;
}

#LoadingPanel {
	width: 100%;
	height: 100%;
	align: center center;
	border-radius: 5px;
	visibility: visible;
	flow-children: down;
}
#GameSetupContainer {
	width: 100%;
	height: 100%;
	align: center center;
	border-radius: 5px;
	visibility: visible;
	flow-children: down;
}

#GameSetupContainer {
	width: 500px;
	height: 225px;
	padding: 15% 5% 15% 5%;
}

#HeroSelectionTitle,
#ScenarioTitle
{
	horizontal-align: center;
	margin-top: 4%;
	margin-bottom: 2%;
	font-size: 54px;
	color: #FFFFFF;
}

.teamName
{
	horizontal-align: left;
	margin-top: 5%;
	font-size: 44px;
	color: #FFFFFF;
}

#HeroSelectionGameTime
{
	horizontal-align: center;
	margin-bottom: 1%;
	font-size: 19px;
	color: orange;
}

#HeroSelectionPanel,
#ClockSelectionPanel
{
	align: center center;
	flow-children: down;
}

.HeroSelectionRow {
	horizontal-align: center;
	flow-children: right;
}

.HeroSelectionColumn {
	flow-children: down;

}

.HeroSelectionLabel {
	width: 100%;
	align: center center;
	text-align: center;
	height: 24px;
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 18px;
	color: #FFFFFF;
	opacity: 1;
}

.HeroSelectionPip {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-right: 10px;
	width: 156px;
	height: 86px;
	box-shadow: fill #000000 0px 0px 2px 2px;
	align: center center;
	border: 1px solid #656565;
	saturation: 0.6;
}

.HeroSelectionPip:hover {
	box-shadow: fill #1fa03b 0px 0px 2px 2px;
	saturation: 1.0;
}

.HeroSelectionPip:active {
	pre-transform-scale2d: 1.05;
}

.HeroSelectionPip.selected {
	box-shadow: fill #1fa03b 0px 0px 2px 2px;
	saturation: 1.0;
}

.HeroSelectionPip.unavailable {
	saturation: 0.0;
	opacity: 0.2;
	box-shadow: #000000 0px 0px 2px 2px;
	pre-transform-scale2d: 1.0;
}

#HeroSelectionContainerWrapper {
	width: 100%; 
	height: 100%;
	vertical-align: top;
}

/* 'Confirm hero selection' button
=================================================================*/
#ConfirmHeroSelectionButton {
	horizontal-align: center;
	width: 300px;
	height: 50px;

	box-shadow: fill #00000090 0px 0px 2px 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #066319 ), to( #103F19 ) );
	background-size: 300px 50px;
}

#ConfirmHeroSelectionButton.disabled, #ConfirmHeroSelectionButton.disabled:hover, #ConfirmHeroSelectionButton.disabled:active {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#ConfirmHeroSelectionButton:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}

#ConfirmHeroSelectionButton:active {
	pre-transform-scale2d: 1.05;
}

#ConfirmHeroSelectionButton Label {
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
	font-size: 36px;
}

#HeroSelectionRow2 {
	margin-bottom: 20px;
}


/* Scenario selection */
#ScenarioSelectionContainerWrapper {
	horizontal-align: center;
	flow-children: down;
	width: 100%; 
	height: 100%; 
	vertical-align: bottom ; 
}

#ScenarioSelectionContainer {
	horizontal-align: center;
	flow-children: right-wrap;
	background-color: #06631900;
	width: 1600px;
	//height: 700px; 
}

#AddSpace {
	margin-top: 50px;
	width: 1570px;
	height: 200px;
	horizontal-align: center;
	background-color: #3A4551;
	background-image: url("file://{resources}/imgs/web_background_original.jpg");
	background-size: cover;
	background-position: 0px -400px;

}


#SkirmishLinkWrapper {
	width: 100%;
	height: 100%;
	vertical-align: center;
	background-color: black;
	opacity: 0.9;
	horizontal-align: center;	
}

#SkirmishLinkContainer {
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

.SkirmishLink {
	font-size: 35px;
	color: white;
}

.red {
	color: red;
}

#RightAlignedScenarios {
	horizontal-align: right;
	flow-children: right;
	background-color: #06631900;
	width: 400px;
}

#ScenarioDescriptionTxt
{
	horizontal-align: center;
	margin-top: 20px;
	font-size: 20px;
	color: #FFFFFF;
	width: 50%; 
	height: 5%;	
}

#Version {
	margin-bottom: 15px;
	margin-left: 15px;
	font-size: 20px;
	color: #7F91A3;
	vertical-align: bottom;
	horizontal-align: left;
}

.ScenarioSelectionButton {
	width: 200px;
	height: 50px;

	box-shadow: fill #00000090 0px 0px 2px 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #066319 ), to( #103F19 ) );
	background-size: 280px 120px;
}

.ScenarioSelectionButton.disabled, .ScenarioSelectionButton.disabled:hover, .ScenarioSelectionButton.disabled:active {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

.ScenarioSelectionButton:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}

.ScenarioSelectionButton:active {
	pre-transform-scale2d: 1.05;
}

.ScenarioSelectionButton Label {
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
	font-size: 36px;
}

.ScenarioSelectionColumn {
	flow-children: down;
	horizontal-align: left;
	width: 400px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

.ScenarioSelectionColumnInside {
	horizontal-align: center;
	flow-children: down;
	background-color: #3A4551;
}
.ScenarioSelectionColumnInside:hover{
	box-shadow: fill #1fa03b 0px 0px 2px 2px;
}

.BROKENScenarioSelectionColumnInside:hover {
	box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 
				0px 9px 46px rgba(0, 0, 0, 0.12), 
				0px 11px 15px rgba(0, 0, 0, 0.2);
	box-shadow: fill 0px 2px 4px rgba(0, 0, 0, 0.14), 
				fill 0px 3px 4px rgba(0, 0, 0, 0.12), 
				fill 0px 1px 5px rgba(0, 0, 0, 0.2);
}




.WillBeButton {
	vertical-align: top;
	horizontal-align: left; 
	flow-children: down;
}

.ScenarioImg {
	width:370px; 
	height:208px; 
	horizontal-align:center; 
	vertical-align: top;
}

.ScenarioSelectionTextContainer {
	flow-children: down;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	width: 100%;
}

.ScenarioSelectionLabelName {
	horizontal-align: left;
	margin-bottom: 7px;
	font-weight: bolder;
	font-size: 15px;
	color: #FFFFFF;
	font-family: Arial,Gulim,MingLiU;
}

.ScenarioSelectionDescription {
	horizontal-align: left;
	margin-bottom: 5px;
	font-size: 15px;
	height: 51px;
	color: #FFFFFF;
}

.ScenarioSelectionLabelPlayer {
	width: 100%;
	horizontal-align: left;
	vertical-align: bottom;
	text-align: left;
	height: 15px;
	margin-top: 6px;
	margin-bottom: 16px;
	font-size: 15px;
	color: #FFFFFF;
	opacity: 1;
}

.ScenarioSelectionFooter {
	flow-children: right;
	vertical-align: bottom;
	height: 15px;
	margin-bottom: 15px;
}

.PreSelectText {
	horizontal-align: left;
	font-size: 15px;
	color: #FFFFFF;
}

#CustomScenarioInput {
	width: 45px;
	height: 13px;
	margin-left: 7px;
	margin-right: 15px;
	vertical-align: center; 
	border-bottom: 2px solid #FFF;
	background-color: #11111100;
}

.SelectText {
	horizontal-align: left;
	vertical-align: bottom;
	font-size: 15px;
	color: #1fa03b;
}

#DashboardButton {
	width: 32px;
	height: 32px;
	background-size: contain;
	transform: scaleY(-1);
	vertical-align: top;
	wash-color: #444A55;
	margin-left: 14px;
	margin-top: 12px;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#SettingsButton {
	width: 32px;
	height: 32px;
	background-size: 27px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: top;
	wash-color: #444A55;
	margin-left: 62px;
	margin-top: 13px;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#HeaderCenter {
	margin-top: 20px;
	align: center center;
}
